<!-- components can be made using the cli https://angular.io/cli
  - to make a component, run ng g c component-name
-->
<div class="container">
  <!-- get data from the cookpit by listening to the output events
    - the event data is capture by $event
    - this serverCreate and bluePrintCreated are custom events
      - they are decorated as @Output()
      - they pass down the variable data
      - the custom events are a instance of angular core Event Emitters
  -->
  <!-- custom property and event binding is prop drilling -->
  <app-cookpit
    (serverCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
  ></app-cookpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <!-- to show how the onChange method works add a button that changes something on the page -->
      <button class="btn btn-primary" (click)="onChangeFirst()">
        Change first Element
      </button>

      <!-- destry the first element so server-element can run the onDistroy method lifecycle -->
      <button class="btn btn-danger" (click)="onDestoryFirst()">
        Destroy first Component
      </button>

      <!-- a component can be loop through -->
      <!-- set up custom property binding
        - [element]="serverElement"
        - inside ts use @Input() decorator to expose the element to the parent component
        - you can use an alias if you want to be more descriptive with what element you are passing down
          - pass the alias string name to the input decorator to create an alias
       -->
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [svElement]="serverElement"
        [name]="serverElement.name"
      >
        <!-- you can pass down html by
        - putthing the html inside the component tag
        - using ng-content to specify where to put the html
          - ng-content can select an element by css selector
       -->
        <!-- you can pass down a reference and access it with ContentChild
        - view child only works for ts file that is in the same component
          - app compoenent can use @ViewChild to access the html element
          - things on the same component are in the same view
        - ContentChild works when the the reference is pass down to the component (not being part of the component originally)
          - server-element can use @ContentChild to access the html element
          - things in the same content in the end are in the same content
       -->
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{
            serverElement.content
          }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{
            serverElement.content
          }}</em>
        </p>
        <!-- <p class="test">Testing to see if you can put different anchers</p> -->
      </app-server-element>
    </div>
  </div>
</div>
