<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            ngModel
            required
            class="form-control"
            #email="ngModel"
            email
          />
          <span class="help-block" *ngIf="email.invalid && email.touched"
            >Email is invalid</span
          >
        </div>
        <div class="form-group">
          <label for="subscriptions">Subscriptions</label>
          <select
            name="subscriptions"
            id="subscription"
            [ngModel]="'advanced'"
            class="form-control"
          >
            <option value="basic">Basic</option>
            <option value="advanced">Advanced</option>
            <option value="pro">Pro</option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            ngModel
            required
            class="form-control"
            name="password"
            #password="ngModel"
          />
          <span *ngIf="password.invalid && password.touched" class="help-block"
            >Password is invalid</span
          >
        </div>
        <span class="help-block" *ngIf="f.invalid && f.touched"
          >Form is invalid</span
        >
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
